<footer class="bg-light text-center text-lg-start mt-auto">
    <div class="container p-4">
      <div class="row">
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">Footer Content</h5>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Iste atque ea quis molestias. Fugiat pariatur maxime quis culpa
            corporis vitae repudiandae aliquam voluptatem veniam, est atque
            cumque eum delectus sint!
          </p>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Links</h5>
          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-dark">Link 1</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Link 2</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Link 3</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Link 4</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-0">Links</h5>
          <ul class="list-unstyled">
            <li>
              <a href="#!" class="text-dark">Link 1</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Link 2</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Link 3</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Link 4</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="text-center p-3 bg-dark text-light">
      © 2024 Company Name:
      <a class="text-light" href="#">company.com</a>
    </div>
  </footer>

  <script>
  function checkWalletAndShowConfirmModal(courseId, coursePrice, userWallet) {
    if (userWallet >= coursePrice) {
      showConfirmModal(courseId);
    } else {
      alert('Ví của bạn không đủ tiền để đăng ký khóa học này.');
    }
  }

  function showConfirmModal(courseId) {
    const confirmButton = document.getElementById('confirmButton');
    confirmButton.onclick = async function() {
      try {
        const response = await fetch(`/bill/dangky/${courseId}`, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
        });

        if (response.redirected) {
          window.location.href = response.url;
        } else {
          // Handle error
          alert('Có lỗi xảy ra khi đăng ký khóa học.');
        }
      } catch (error) {
        console.error('Error:', error);
        alert('Có lỗi xảy ra khi đăng ký khóa học.');
      }
    };
    const confirmModal = new bootstrap.Modal(document.getElementById('confirmModal'));
    confirmModal.show();
  }
</script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
